div.input-search-space {
  position: relative;
  width: 250px;
  display: flex;
  align-items: center;
}

i.bi-search {
  position: absolute;
  top: 1;
  right: 0.2rem;
  z-index: 10;
  border: none;
  background-color: #F5F5F5;
  color: #757575;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

div.input-search-space input {
  outline: none;
  font-size: 1rem;
  padding: 0.6rem;
  background-color: #F5F5F5;
  border: none;
  width: 100%;
  border-radius: 0.3rem;
}

div.input-search-space input:focus {
  border: 1px solid #0BADE3;
}